.site-overview {
  position: absolute;
  top: 150px;
  width: 100%;
  margin: auto;
  color: $grey-dark;
  text-align: center;
  overflow: hidden;
  @media screen and (max-width: 991px) {
    display: none;
  }
}

@import "sidebar-author";
@import "site-state";
@import "sidebar-author-links";
