.links-of-author {
  margin-top: 10px;
}

.links-of-author-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  transition: all 0.5s;
  img {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
    border-radius: 50%;
  }
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
}

.links-of-author a {
  font-size: 20px;
  line-height: 25px;
  border: none;
  &[title="weibo"] {
    color: #E44949;
  }
  &[title="GitHub"] {
    color: #000;
  }
}
