.site-overview {
  color: $grey-dark;
  text-align: center;
  overflow: hidden;
  +desktop() {
    position: absolute;
    top: 150px;
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

@import "sidebar-author";
@import "site-state";
@import "sidebar-author-links";
